@font-face {
    font-family: 'Passion One';
    src: url('../fonts/Passion_One/PassionOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Passion One';
    src: url('../fonts/Passion_One/PassionOne-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Passion One';
    src: url('../fonts/Passion_One/PassionOne-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: sans-serif;
    margin: 0;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.88);
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.45)
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-weight: bold;
}

.logo img {
    height: 70px;
    width: auto;
}

.company-name {
    margin: 0;
    font-size: 2.5em;
    font-family: 'Passion One', sans-serif;
    font-weight: bold;
}

.navigation {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;
    padding: 15px 0;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 70%;
    gap: 20%;
}

.navigation li a {
    display: block;
    padding: 5% 15px;
    text-decoration: none;
    color: #74070a;
    font-family: 'Passion One', sans-serif;
    font-size: 1.2em;
}   

.navigation li a:hover {
    background-color: #ddd;
}

main {
    min-height: calc(100vh - 200px);
}
img {
    max-width: 100%;
    height: auto;
}

.footer {
    position: relative;
    padding: 0;
}

.footer-background {
    width: 100%;
    height: auto;
    display: block;
}

.footer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    margin-top: 14%;
    margin-right: 7.5%;
}

.contact-info {
    text-align: right;
    font-size: 120%;
}

.contact-info p {
    margin: 5px 0;
}

.social-media {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-media img {
    width: 35px;
    height: 35px;
}

.home-section {
    position: relative;
}

.main-content {
    display: block;
    line-height: 0; /* Removes gaps between images */
}

.home-image {
    width: 100%;
}

.home-section-container {
    position: relative;
}

.home-section-content1 {   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    gap: 10px;
    font-family: 'Passion One', sans-serif; 
}

.home-section-content {   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 7%;
    gap: 10px;
    text-align: left;
    font-family: 'Passion One', sans-serif;
}

.home-section1-text {
    color: rgb(0, 0, 0);
    margin-left: 6%;
}

.home-section2-text {
    color: rgb(255, 255, 255);
    margin-left: 6%;
}

.home-section3-text {
    color: rgb(0, 0, 0);
    margin-top: 0.5%;
    text-align: center;
}

.home-section-title {
    font-size: 2.5em;
    font-weight: bold;
}

.home-section-paragraph {
    font-size: 1.3em;
    font-weight: normal;
}

.pearly_highlighted {
    color: #f1c62a;
    text-shadow: #000000 0px 0px 5px;
}

.pearly_red_highlighted {
    color: #74070a;
}


.see-tires-btn {
    position: absolute;
    top: 58%;
    left: 28%;
    transform: translate(-50%, -50%);
    background-color: #74070a;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-family: 'Passion One', sans-serif;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.see-tires-btn:hover {
    background-color: #74070a;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 10px;
    }

    .company-name {
        order: -1; /* Puts company name on top on small screens */
        margin-bottom: 10px;
    }

    .navigation ul {
        flex-direction: column;
        width: 100%;
    }

    .navigation li a {
        text-align: center;
        border-bottom: 1px solid #ccc;
    }

    .see-tires-btn {
        font-size: 1.2em;
        padding: 10px 20px;
        left: 50%;
    }
}